In [1]:
# range function

# built in operator range(shift+tab)

for num in range(10):
    print(num) # will print numbers all the way up to but not actaul number

0
1
2
3
4
5
6
7
8
9

In [2]:
for num in range(3,10):
    print(num) # will print numbers starting from all the way up to but not actaul number

3
4
5
6
7
8
9

In [3]:
for num in range(2,10,2):
    print(num) #add a 3rd arg for step size - 2 will be all even numbers

2
4
6
8

In [5]:
# use range to create a list

my_list = list(range(0,11))
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
# using enumerate function

word = 'abcde'
for index,letter in enumerate(word):
    print(letter)
    print(index)
    print('\n')

a
0


b
1


c
2


d
3


e
4

In [22]:
# zip function

my_list = list(range(1,6))
my_list_2 = ['a','b','c','d','e']

list_zip = zip(my_list,my_list_2)

for num,letter in list_zip:
    print(num)

1
2
3
4
5

In [23]:
# using in to quickly check
'x' in [1,2,3]

False

In [24]:
'x' in [1,'x',3]

True

In [2]:
'mykey' in {'mykey':123,'mykey1':322}

True

In [6]:
d = {'mykey':345}
345 in d.values()

True

In [10]:
# min() and max()

my_list = list(range(2,45,3))
my_list

[2, 5, 8, 11, 14, 17, 20, 23, 26, 29, 32, 35, 38, 41, 44]

In [9]:
max(my_list)

44

In [11]:
min(my_list)

2

In [12]:
from random import shuffle # shuffles around any list

In [14]:
shuffle(my_list) # in place function - operates in place cant create a var
my_list

[35, 14, 17, 8, 11, 5, 44, 2, 26, 41, 32, 38, 29, 20, 23]

In [15]:
from random import randint # lets us grab random int from a range
randint(0,100)

97

In [16]:
my_num = randint(0,1000)
my_num

510

In [20]:
user_name = input('What is your name?') # prompt user to input a string and put string in var 'user_name'

What is your name? Jack

In [21]:
user_name

'Jack'

In [23]:
user_age = input('What is your age?')

What is your age? 10

In [24]:
int(user_age) # user age in a int

10